@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ====================
  Reset Default CSS Start
  ==================== */

:root {
  --primary-font: "Poppins", sans-serif;
  --white: #ffffff;
  --text-color: #1F4529;
  --text-color2: #008aee;
  --primary-color: #1F4529;
  --secondary-color: #1F4529;
  --stroke: #1F4529;
  --btn-hover: #2e97a7;
  --hover-color: #dbeffd;
  --gray: #aaaaaa;
  --box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 17%);
  --dark-mode-bg: #1e1e1e;
  --dark-mode-bg2: #121212;
  --dark-mode-text: #c0c5cb;
  --content-and-hover-bg: #414141;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  scroll-behavior: smooth;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  margin-top: 0;
}

p {
  font-family: var(--primary-font);
}

span {
  font-family: var(--primary-font);
}

a {
  text-decoration: none !important;
  font-family: var(--primary-font);
}

ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
  font-family: var(--primary-font);
}

button {
  border: none;
  outline: none;
  font-family: var(--primary-font);
}

input {
  outline: none;
  font-family: var(--primary-font);
}

label {
  font-family: var(--primary-font);
}

/*====================
Reset Default CSS End
====================*/

/* Add Students - Pop Up Modal Start */

#studentModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 9999;
}

#studentModal.show {
  opacity: 1;
  visibility: visible;
}

#studentModal .modal-content {
  position: relative;
  background-color: var(--white);
  padding: 0px;
  margin: 480px 0px 440px 0px;
  border: 1px solid #888;
  width: 70%;
  height: 90%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#studentModal .form-container {
  width: 100%;
  margin: auto;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px 26px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#studentModal h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
  color: var(--text-color);
}

#studentModal .form-group {
  display: flex;
  flex-direction: column;
}

#studentModal .form-group label {
  font-weight: 600;
  color: var(--text-color);
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 10px;
}

#studentModal .form-group input {
  padding: 9.65px 10px;
  height: 44px;
  border: 1px solid var(--gray);
  color: var(--black);
  border-radius: 6px;
  transition: 0.3s;
}
#studentModal .form-group select {
  padding: 10.33px 10px;
  height: 44px;
  border: 1px solid var(--gray);
  border-radius: 6px;
  transition: 0.3s;
}

#studentModal .form-group input:focus,
#studentModal .form-group select:focus {
  border: 1px solid var(--stroke);
}

#studentModal .form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;
}

#studentModal .form-actions .button {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 6px;
}

#studentModal .form-actions .save {
  width: 100%;
  background: var(--primary-color);
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  transition: 0.4s;
}

#studentModal .form-actions .close {
  background: rgb(190, 1, 1);
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  transition: 0.4s;
}

#studentModal .form-actions .reset {
  background: rgb(204, 111, 126);
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  transition: 0.4s;
}

#studentModal .form-actions .save:hover {
  background: var(--btn-hover);
}
#studentModal .form-actions .close:hover,
#studentModal .form-actions .reset:hover {
  opacity: 0.9;
}

#studentModal .btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#studentModal .btn-danger {
  background-color: #dc3545;
  color: #fff;
}

#studentModal .btn-success {
  background-color: #28a745;
  color: #fff;
}

#studentModal .upload-profile .item {
  display: flex !important;
  gap: 10px;
}
#studentModal .upload-profile .item .img-box {
  width: 84px;
  height: 70px;
  border-radius: 6px;
  background: #dadada;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
#studentModal .profile-wrapper {
  width: 100%;
}
#studentModal .profile-wrapper p {
  margin: 5px 0px 0px 0px;
  font-size: 14px;
  color: #aaaaaa;
}
#studentModal .custom-file-input-wrapper {
  font-family: var(--primary-font);
  position: relative;
  width: 100%;
  height: 46px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #666;
  background: #cdcdcd;
  cursor: pointer;
}

#studentModal .custom-file-input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

#studentModal .custom-file-input-wrapper input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -2;
  cursor: pointer;
}
#studentModal .custom-file-input-wrapper::before {
  content: "";
  position: absolute;
  margin: 0px 118px 0px auto;
  width: 20px;
  height: 20px;
  background-image: url("../icons/upload-photo-icon.svg");
  background-size: cover;
  background-position: center;
}

#studentModal .custom-file-input-wrapper::after {
  content: "Upload Photo";
  margin-right: -20px !important;
}

@media screen and (max-width: 992px) {
  #studentModal .modal-content {
    width: 90%;
    margin-top: 50px;
  }

  #studentModal .modal-content {
    margin: 2280px 0px 2180px 0px !important;
  }
}

@media screen and (max-width: 768px) {
  #studentModal .form-actions .button {
    padding: 8px 10px;
  }

  #studentModal .form-actions {
    gap: 8px;
  }

  #studentModal .form-group label {
    margin-top: 10px;
  }
  
}

/* Add Students - Pop Up Modal End */

/* Confirmation Modal Start */

#confirmationModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

#confirmationModal .modal-content {
  background: var(--white);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  width: 300px;
}

#confirmationModal .modal-content p {
  font-size: 18px;
  color: var(--text-color);
  font-weight: 600;
}

#confirmationModal .modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  gap: 10px;
}

#confirmationModal #confirmYes {
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  background: #14cc52;
  color: var(--white);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

#confirmationModal #confirmNo {
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  background: #e00606;
  color: var(--white);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

#confirmationModal #confirmYes:hover,
#confirmationModal #confirmNo:hover {
  opacity: 0.9;
}

#confirmationModal .btn-green {
  background-color: #4caf50;
  color: var(--white);
}

#confirmationModal .btn-red {
  background-color: #f44336;
  color: var(--white);
}
/* Confirmation Modal End */

/* Edit Modal Start */

#editModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

#editModal .modal-content {
  background: var(--white);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  width: 300px;
}

#editModal .modal-content p {
  font-size: 18px;
  color: var(--text-color);
  font-weight: 600;
}

#editModal .modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  gap: 10px;
}

#editModal #editYes {
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  background: #14cc52;
  color: var(--white);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

#editModal #editNo {
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  background: #e00606;
  color: var(--white);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

#editModal #editYes:hover,
#editModal #editNo:hover {
  opacity: 0.9;
}

#editModal .btn-green {
  background-color: #4caf50;
  color: var(--white);
}

#editModal .btn-red {
  background-color: #f44336;
  color: var(--white);
}
/* Edit Modal End */

/* Quick View Modal Start */

#quickViewModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

#quickViewModal .modal-content {
  position: relative;
  background: var(--white);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  width: 50%;
}

#quickViewModal .modal-content .item {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#quickViewModal .modal-content .item .profile-img {
  width: 80px;
  height: 80px;
  border-radius: 6px;
  border: 1px solid var(--white);
  overflow: hidden;
  margin-bottom: 12px;
}

#quickViewModal .modal-content .item .profile-img img {
 width: 100%;
 height: 100%;
 background-size: cover;
 background-position: center;
 object-fit: cover;
}

#quickViewModal .modal-content h3 {
  display: inline-block;
  font-size: 16px;
  color: var(--text-color);
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
}

#quickViewModal .modal-content h3 span {
  font-weight: 500;
  margin-left: 5px;
}

#quickViewModal .modal-content p {
  font-size: 22px;
  color: var(--text-color);
  font-weight: 600;
  margin-bottom: 30px;
}

#quickViewModal .modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  gap: 10px;
}

#quickViewModal #quickClose {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background: #e00606;
  color: var(--white);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

#quickViewModal #quickClose i {
  font-size: 12px;
  color: var(--white);
}

@media screen and (max-width: 1200px) {
  #quickViewModal .modal-content {
    width: 70%;
  }
}

@media screen and (max-width: 992px) {
  #quickViewModal .modal-content {
    width: 90%;
  }

  #quickViewModal .modal-content h3 {
    font-size: 14px;
  }
}
/* Quick View Modal End */

/* Migrate Students Pop Up Modal Start */

#migrateModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 9999;
}

#migrateModal.show {
  opacity: 1;
  visibility: visible;
}

#migrateModal .modal-content {
  position: relative;
  background-color: var(--white);
  padding: 0px;
  border: 1px solid #888;
  width: 70%;
  height: auto;
  margin-bottom: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#migrateModal .form-container {
  width: 100%;
  margin: auto;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#migrateModal h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
  color: var(--text-color);
}

#migrateModal .form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

#migrateModal .form-group {
  flex: 1 1 calc(33.33% - 15px);
  display: flex;
  flex-direction: column;
}

#migrateModal .form-group label {
  font-weight: 600;
  color: var(--text-color);
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 10px;
}

#migrateModal .form-group input {
  padding: 9.64px 10px;
  height: 44px;
  border: 1px solid var(--gray);
  border-radius: 6px;
  transition: 0.3s;
}
#migrateModal .form-group select {
  padding: 10.33px 10px !important;
  height: 44px;
  border: 1px solid var(--gray);
  border-radius: 6px;
  transition: 0.3s;
}

#migrateModal .form-group input:focus,
#migrateModal .form-group select:focus {
  border: 1px solid var(--stroke);
}

#migrateModal .form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;
}

#migrateModal .form-actions .button {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 6px;
}

#migrateModal .form-actions .save {
  width: 100%;
  background: var(--primary-color);
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  transition: 0.4s;
}

#migrateModal .form-actions .close {
  background: rgb(190, 1, 1);
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  transition: 0.4s;
}

#migrateModal .form-actions .reset {
  background: rgb(204, 111, 126);
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  transition: 0.4s;
}

#migrateModal .form-actions .save:hover,
#migrateModal .form-actions .close:hover,
#migrateModal .form-actions .reset:hover {
  opacity: 0.9;
}

#migrateModal .form-actions .save:hover {
  background: var(--btn-hover);
}

#migrateModal .btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#migrateModal .btn-danger {
  background-color: #dc3545;
  color: var(--white);
}

#migrateModal .btn-success {
  background-color: #28a745;
  color: var(--white);
}

#migrateModal .upload-profile .item {
  display: flex !important;
  gap: 10px;
}
#migrateModal .upload-profile .item .img-box {
  width: 84px;
  height: 70px;
  border-radius: 6px;
  background: #dadada;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
#migrateModal .profile-wrapper {
  width: 100%;
}
#migrateModal .profile-wrapper p {
  margin: 5px 0px 0px 0px;
  font-size: 14px;
  color: #aaaaaa;
}
#migrateModal .custom-file-input-wrapper {
  font-family: var(--primary-font);
  position: relative;
  width: 100%;
  height: 46px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #666;
  background: #cdcdcd;
  cursor: pointer;
}

#migrateModal .custom-file-input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

#migrateModal .custom-file-input-wrapper input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -2;
  cursor: pointer;
}
#migrateModal .custom-file-input-wrapper::before {
  content: "";
  position: absolute;
  margin: 0px 118px 0px auto;
  width: 20px;
  height: 20px;
  background-image: url("../icons/upload-photo-icon.svg");
  background-size: cover;
  background-position: center;
}

#migrateModal .custom-file-input-wrapper::after {
  content: "Upload Photo";
  margin-right: -20px !important;
}

@media screen and (max-width: 992px) {
  #migrateModal .modal-content {
    width: 90%;
    margin-top: 50px;
  }
}

@media screen and (max-width: 768px) {
  #migrateModal .form-actions .button {
    padding: 8px 10px;
  }

  #migrateModal .form-actions {
    gap: 8px;
  }

  #migrateModal .modal-content {
    margin: 500px 0px 100px 0px !important;
  }
}

/* Migrate Students Pop Up Modal End */

/* Academic Management All page Pop Up Modal Start */

#createClassModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 9999;
}

#createClassModal.show {
  opacity: 1;
  visibility: visible;
}

#createClassModal .modal-content {
  position: relative;
  background-color: var(--white);
  padding: 0px;
  border: 1px solid #888;
  width: 50%;
  height: auto;
  margin-bottom: 20px;
}

.subject-modal #createClassModal .modal-content,
.shift-modal #createClassModal .modal-content,
.session-modal #createClassModal .modal-content,
.section-modal #createClassModal .modal-content,
.createClassModal #createClassModal .modal-content {
  position: relative;
  background-color: var(--white);
  padding: 0px;
  border: 1px solid #888;
  width: 40%;
  height: auto;
  margin-bottom: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#createClassModal .form-container {
  width: 100%;
  margin: auto;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#createClassModal h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
  color: var(--text-color);
}

#createClassModal .form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

#createClassModal .form-group {
  flex: 1 1 calc(33.33% - 15px);
  display: flex;
  flex-direction: column;
}

#createClassModal .form-group label {
  font-weight: 600;
  color: var(--text-color);
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 10px;
}

#createClassModal .form-group input {
  padding: 9.64px 10px;
  height: 44px;
  border: 1px solid var(--gray);
  border-radius: 6px;
  transition: 0.3s;
}

#createClassModal .form-group input:focus {
  border: 1px solid var(--stroke);
}

#createClassModal .form-actions {
  display: flex;
  justify-content: right;
  margin-top: 20px;
  gap: 20px;
}

#createClassModal .form-actions .button {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 6px;
}

#createClassModal .form-actions .save {
  background: var(--primary-color);
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  transition: 0.4s;
}

#createClassModal .form-actions .close {
  background: rgb(190, 1, 1);
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  transition: 0.4s;
}

#createClassModal .form-actions .save:hover,
#createClassModal .form-actions .close:hover {
  opacity: 0.9;
}

#createClassModal .form-actions .save:hover {
  background: var(--btn-hover);
}

#createClassModal .btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#createClassModal .btn-danger {
  background-color: #dc3545;
  color: var(--white);
}

#createClassModal .btn-success {
  background-color: #28a745;
  color: var(--white);
}

@media screen and (max-width: 992px) {
  #createClassModal .modal-content {
    width: 90%;
    margin-top: 50px;
  }

  .subject-modal #createClassModal .modal-content,
  .shift-modal #createClassModal .modal-content,
  .session-modal #createClassModal .modal-content,
  .section-modal #createClassModal .modal-content,
  .createClassModal #createClassModal .modal-content {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  #createClassModal .form-actions .button {
    padding: 8px 10px;
  }

  #createClassModal .form-actions {
    gap: 8px;
  }

  #createClassModal .form-actions .save,
  #createClassModal .form-actions .close {
    width: 100%;
  }

  #createClassModal h3 {
    font-size: 24px;
  }
}

/* Academic Management All page Pop Up Modal End */

/* Exam Management All page Pop Up Modal Start */

#exmModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 9999;
}

#exmModal.show {
  opacity: 1;
  visibility: visible;
}

#exmModal .modal-content {
  position: relative;
  background-color: var(--white);
  padding: 0px;
  border: 1px solid #888;
  width: 80%;
  height: auto;
  margin-bottom: 20px;
}

.grade-modal #exmModal .modal-content,
.exam-type #exmModal .modal-content,
.exam-assign #exmModal .modal-content {
  position: relative;
  background-color: var(--white);
  padding: 0px;
  border: 1px solid #888;
  width: 40%;
  height: auto;
  margin-bottom: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#exmModal .form-container {
  width: 100%;
  margin: auto;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#exmModal h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
  color: var(--text-color);
}

#exmModal .form-group {
  display: flex;
  flex-direction: column;
}

#exmModal .form-group label {
  font-weight: 600;
  color: var(--text-color);
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 10px;
}

#exmModal .form-group input {
  width: 100%;
  padding: 9.64px 10px;
  color: var(--black);
  height: 44px;
  border: 1px solid var(--gray);
  border-radius: 6px;
  transition: 0.3s;
}

#exmModal .form-group input:focus {
  border: 1px solid var(--stroke);
}

#exmModal .form-actions {
  display: flex;
  justify-content: right;
  margin-top: 20px;
  gap: 20px;
}

#exmModal .form-actions .button {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 6px;
}

#exmModal .form-actions .save {
  background: var(--primary-color);
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  transition: 0.4s;
}

#exmModal .form-actions .close {
  background: rgb(190, 1, 1);
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  transition: 0.4s;
}

#exmModal .form-actions .save:hover,
#exmModal .form-actions .close:hover {
  opacity: 0.9;
}

#exmModal .form-actions .save:hover {
  background: var(--btn-hover);
}

#exmModal .btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#exmModal .btn-danger {
  background-color: #dc3545;
  color: var(--white);
}

#exmModal .btn-success {
  background-color: #28a745;
  color: var(--white);
}

@media screen and (max-width: 992px) {
  #exmModal .modal-content {
    width: 90%;
    margin-top: 50px;
  }

  .grade-modal #exmModal .modal-content,
  .exam-type #exmModal .modal-content,
  .exam-assign #exmModal .modal-content {
    width: 90%;
    margin: 0px 0px 0px 0px !important;
  }
}

@media screen and (max-width: 768px) {
  #exmModal .form-actions .button {
    padding: 8px 10px;
  }

  #exmModal .form-actions {
    gap: 8px;
  }

  #exmModal .modal-content {
    margin: 500px 0px 100px 0px !important;
  }

  #exmModal .form-actions .save,
  #exmModal .form-actions .close {
    width: 100%;
  }

  #exmModal h3 {
    font-size: 24px;
  }
}

/* Exam Management All page Pop Up Modal End */
